#root,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 18px;
  height: 100vh;
  user-select: none;
  overflow: hidden;
}

#root {
  display: grid;
  height: 100vh;
  grid-template-rows: 40% 60%;
}

.guessing {
  height: 40vh;
  display: grid;
  grid-template-columns: repeat(11, calc(100% / 11));
  grid-template-rows: repeat(10, 10%);
}

.grid {
  height: 60vh;
  display: grid;
  grid-template-columns: 30% 1fr 30% 1fr 30%;
  grid-template-rows: 30% 1fr 30% 1fr 30%;
}

.number {
  font-size: 2em;
}

.undo {
  position: absolute;
}
.undo:after {
  display: inline-block;
  content: "↩️";
}

.number,
.sign,
.guessing-legend,
.guess {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.guess-no {
  position: relative;
  overflow: hidden;
}

.guess-no:before,
.guess-no:after {
  position: absolute;
  content: "";
  background: red;
  display: block;
  height: 3px;
  width: 100%;
  transform: rotate(-45deg);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.guess-no:after {
  transform: rotate(45deg);
}

.guess-yes {
  border: 3px solid green;
  border-radius: 50%;
}

.highlighted {
  background: rgba(166, 166, 166, 0.1);
}

.digit {
  padding: 0 0.3em;
}

#dialog {
  position: fixed;
  top: 20%;
  left: 20%;
  bottom: 20%;
  right: 20%;
  z-index: 2;
  background: whitesmoke;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 4em;
}

@media (orientation: portrait) {
  .undo-landscape {
    display: none;
  }
  .undo {
    right: 0.5rem;
  }
}

@media (orientation: landscape) {
  #root {
    display: grid;
    height: 100vh;
    grid-template-rows: none;
    grid-template-columns: 40% 60%;
  }

  .guessing {
    height: 100vh;
    width: 40vw;
    display: grid;
    grid-template-columns: repeat(11, calc(100% / 11));
    grid-template-rows: repeat(10, 10%);
  }

  .grid {
    height: 100vh;
    width: 60vw;
    display: grid;
    grid-template-columns: 30% 1fr 30% 1fr 30%;
    grid-template-rows: 30% 1fr 30% 1fr 30%;
  }
  .undo-portrait {
    display: none;
  }
  .undo {
    top: 0.5rem;
  }
}

@media (max-width: 915px) {
  .digit {
    padding: 0;
  }
}
