#root,
body,
#app {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 18px;
  height: 100vh;
  overflow: hidden;
}

#app {
  display: grid;
  height: 100vh;
  grid-template-rows: 40% 60%;
}

.guessing {
  height: 40vh;
  display: grid;
  grid-template-columns: repeat(11, calc(100% / 11));
  grid-template-rows: repeat(10, 10%);
  user-select: none;
}

.base-12 .guessing {
  grid-template-columns: repeat(13, calc(100% / 13));
  grid-template-rows: repeat(12, calc(100% / 12));
}

.grid {
  height: 60vh;
  display: grid;
  grid-template-columns: 30% 1fr 30% 1fr 30%;
  grid-template-rows: 30% 1fr 30% 1fr 30%;
  user-select: none;
}

.number {
  font-size: 2em;
}

.undo {
  position: absolute;
}
.info {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.number,
.sign,
.guessing-legend,
.guess {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.guess-no {
  position: relative;
  overflow: hidden;
}

.guess-no:before,
.guess-no:after {
  position: absolute;
  content: "";
  background: red;
  display: block;
  height: 3px;
  width: 100%;
  transform: rotate(-45deg);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.guess-no:after {
  transform: rotate(45deg);
}

.guess-yes {
  border: 3px solid green;
  border-radius: 50%;
}

.highlighted {
  background: rgba(166, 166, 166, 0.1);
}

.digit {
  padding: 0 0.3em;
  width: 2.3rem;
}

.dialog {
  position: fixed;
  top: 20%;
  left: 20%;
  bottom: 20%;
  right: 20%;
  z-index: 3;
  background: whitesmoke;
  opacity: 0.9;
  border-radius: 1rem;
  border: 3px solid white;
}

.dialog-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(122, 122, 122, 0.5);
  z-index: 2;
}

#winning-dialog {
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  text-align: center;
  font-size: 3em;
  flex-direction: column;
}

#info-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.85rem;
  flex-direction: column;
}

#ko-fi {
  width: 1rem;
  display: inline-block;
}

#how-to-play {
  margin: 0.5rem;
  text-align: left;
}

#how-to-play-header {
  margin-top: 1rem;
  font-size: 1.1em;
  border-top: 1px solid gray;
  display: block;
  width: 100%;
}

#fullscreen-button {
  margin-top: 0.5rem;
}

.close-dialog {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
}
.close-dialog:after {
  content: "x";
}

@media (orientation: portrait) {
  .undo-landscape {
    display: none;
  }
  .undo {
    right: 0.5rem;
  }
}

@media (orientation: landscape) {
  #app {
    display: grid;
    height: 100vh;
    grid-template-rows: none;
    grid-template-columns: 40% 60%;
  }

  .guessing {
    height: 100vh;
    width: 40vw;
    display: grid;
    grid-template-columns: repeat(11, calc(100% / 11));
    grid-template-rows: repeat(10, 10%);
  }

  .base-12 .guessing {
    grid-template-columns: repeat(13, calc(100% / 13));
    grid-template-rows: repeat(12, calc(100% / 12));
  }

  .grid {
    height: 100vh;
    width: 60vw;
    display: grid;
    grid-template-columns: 30% 1fr 30% 1fr 30%;
    grid-template-rows: 30% 1fr 30% 1fr 30%;
  }
  .undo-portrait {
    display: none;
  }
  .undo {
    top: 0.5rem;
  }
}

@media (max-width: 915px) {
  .digit {
    padding: 0;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }

  .dialog {
    background: black;
    opacity: 1;
  }
  a {
    color: lavender;
  }
  .highlighted {
    background: rgba(200, 200, 200, 0.2);
  }
}
